[submodule "STM32F10x_Drivers_Lib"]
	path = STM32F10x_Drivers_Lib
	url = https://github.com/IvanOrfanidi/STM32F10x_Drivers_Lib.git
[submodule "STM32F10x_StdPeriph_Lib"]
	path = STM32F10x_StdPeriph_Lib
	url = https://github.com/IvanOrfanidi/STM32F10x_StdPeriph_Lib.git
