/Examples/rtc/settings
/Examples/rtc/debug
/Examples/rtc/*.dep
/Examples/usart/settings
/Examples/usart/debug
/Examples/usart/*.dep
/Examples/exti/settings
/Examples/exti/debug
/Examples/exti/*.dep
/Examples/systick/settings
/Examples/systick/debug
/Examples/systick/*.dep
/Examples/soft_timer/settings
/Examples/soft_timer/debug
/Examples/soft_timer/*.dep
/Examples/watchdog/settings
/Examples/watchdog/debug
/Examples/watchdog/*.dep
/Examples/sdio/settings
/Examples/sdio/debug
/Examples/sdio/*.dep